* {box-sizing:border-box;}

div.container {
width:200px;
height:275px;
display:block;
}

div.card:hover {
animation-name:pokemonapp;
animation-duration:0.25s;
box-shadow: 0 4px 8px 0 rgba(35, 173, 278, 1);
background-color:pink;
border-color:tomato;
}

div.card{
background-color:#2496FF;
border-radius:15px;
border:solid 2px blue;
margin-bottom:15px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

div.description {background-color:white; border-radius:10px;}

[class*="col-"] {
  float: left;
  padding: 15px;
  border: 1px solid black;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {width: 100%;}
div.row{display: block;} 
}

div.row {
display: flex;
align-items: center;
justify-content: center;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

@keyframes pokemonapp{
0%,
	100% {transform: translatey(0);}

	50%{transform: translatey(-.4rem);}
}

select {width:175px;}

div.container {background-color:white; border-radius:10px;}

.Fuego,.Bicho,.Veneno,.Agua,.Planta,.Volador,.Fuerza,.Psiquico,.Hielo {
border-radius:15px;
margin-bottom:10px;
}

.Fuego {background-color:red;}
.Bicho {background-color:brown;}
.Veneno {background-color:purple;}
.Agua {background-color:blue;}
.Planta {background-color:green;}
.Volador {background-color:cyan;}
.Fuerza {background-color:grey;}
.Psiquico {background-color:yellow;}
.Hielo {background-color:blue; color:white;}
